<div class="container-infos text-center">

  <%= link_to "Confirm your participation to the trip", interaction_path(@interaction), data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>

</div>

<div class="container-infos text-center">

  <%= link_to "Abandon the trip", interaction_path(@interaction), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>

</div>
