<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dfp2hfrf3mn0u.cloudfront.net/cre/creston-ic-v3_1600x685_home-main-banner_2019_SYNCROS_1616656_jpg_original_1.jpg);">
    <h1>Discuss with your travel buddy</h1>
</div>

<div class="container-infos text-center">
  <% if policy(@interaction).create? %>
    <%=link_to "Confirm your participation to the trip", trip_interaction_path(@interaction), data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
  <% end %>
</div>

<div class="container-infos text-center">
  <% if policy(@interaction).destroy? %>
    <%= link_to "Abandon the trip", trip_interaction_path(@interaction), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
  <% end %>
</div>
