<div class="footer">
  <div clash="description">
    <h2>You can find us <span class="blue">here</span>!</h2>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <h2>Choose your <span class="blue">buddy!</span>create your <span class="blue">new trip now</span></h2>
  </div>
</div>
