<div class="footer">
  <div clash="description">
    <h2>Choose your <span class="red">buddy ! <br></span>create your <span class="red">new trip</span> now !</h2>
  </div>

  <div class="footer-copyright">
    <p>Made with <i class="fas fa-heart"></i> at <a target="_blank" id="LW" href="https://www.lewagon.com/"> Le Wagon</a>, by <span class="red">We PlanIt</span><span class="orange">&copy;</span> team ! </p>
  </div>
</div>
