.height200px{
  height: 200px;
  }

.width25{
  width: 25%;
}

.width25{
  width: 25%;
}

.border-rds20{
  border-radius: 20px;
}

.margin5px{
  margin: 5px;
}

.border{
  border: #028090 2px solid;
}

.img_h150px{
  height: 150px;
}

.card{
  overflow : hidden;
  background: white;
  align-items: center;
  height: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card_home{
  // cards from the home pg core values
  background: white;
  border: 1px solid;
  border-color: $WPblue;
  border-radius: 5px;
  padding-top: 7px;
}
.card_home img{
  max-width: 100%;
  height: auto;
}

.trip-card img{
  // image of each trip card
  width:100%;
  height: 150px;
  object-fit: cover;
}

.trip-card{
  // container of each trip infos & pict
  background: white;
  border: 1px solid;
  border-color: $WPblue;
  border-radius: 5px;
}
.trip-card a{
  // link of trip card
  color: $WPblue;
}

.trip-details{
  // infos of each trip
  padding: 3px;
}
.trip-details li{
  // interests listed in trip-card
  font-size: 12px;
}

.trip-card-dashb{
  // container of each trip infos & pict
  background: white;
  border: 1px solid;
  border-color: $WPblue;
  border-radius: 5px;
  max-width: 35%;
}

.trip-show img{
  // used on show pg for sizing for img @ map
  width: 100%;
  height: 300px;
}
