.height200px{
  height: 200px;
  }

.width25{
  width: 25%;
}

.border-rds20{
  border-radius: 20px;
}

.margin5px{
  margin: 5px;
}

.border{
  border: #028090 2px solid;
}

.img_h150px{
  height: 150px;
}

