.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 66;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link i {
  padding-left: 9px;
  padding-right: 3px;
}

.nav-link {
  margin-left: 25px;
}

.fa-plus-circle {
  color: $WPblue;
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
}

.fa-search {
  color: $WPblue;
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
}

.fa-campground {
  color: $WPblue;
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
}

.fa-tv {
  color: $WPblue;
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
}

.fa-user-circle {
  color: $WPblue;
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
}

.fa-sign-out-alt {
  color: $WPblue;
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
}

.hello {
  margin-left: 0px;
}


